extends ../../layout

block content
  .container
    .row
      .col-xs-12
        nav.breadcrumb.ph-3.small.uppercase
          a.b.item(href=`/`) INICIO
          a.b.item(href=`/preference-artists`) PREFERENCIA-ARTISTA

  .container
    p Welcome to to #{userProfile.email}!
    h1 Las recomendaciones del sistema son las siguientes:
    .hr.mb-5.mt-2
    .row.justify-content-center
      .col-xs-12.col-md-6
        .white.br-1.rd-0-2
          .p-3
            .msg.error#form-results
            .row
                form.col-xs-6(id="preferencesForm" action=`/controllers/recomendation_business/` method="post" data-error="#form-results")
                  .row
                    .col-xs-12.tr
                      select(name='categoria',  value=`${val}`)
                        each val in categorias
                            option=val     
                  .row
                    .col-xs-12.tr
                      select(name='ciudad',  value=`${val}`)
                        each val in cities
                            option=val     
                  .row
                    .col-xs-12.tr
                      button.primary.w-100-xs(type="submit") aplicar filtros